/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov-2016, 12:22:26
    Author     : janka
*/

.logo {
    height: 55px;
}
.header-color{
    background-color: #23527c;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #9d9d9d;
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}