.idea/*
fonts/*
css/bootstrap.css
css/bootstrap.min.css
admin/include/ckeditoradmin
admin/classes/database_settings.php
admin/css/plugins/*
admin/css/bootstrap.css
admin/css/bootstrap.min.css
admin/font-awesome/*
admin/fonts/*
admin/LICENSE
admin/README.md
images/*
nbproject/private/private.properties
nbproject/project.properties
offerte/*
*.jpg
test_file.php
include/phpmailer/class.phpmailer.php
